################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FNAF Engine Game/bin/Debug/FNAF Engine Game.exe
